body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    flex-direction: column;
    background-color: #ccfefe;
}

.front{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
}


.selection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.projects-skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.circle-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 60px 40px 0px ;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 40px 60px ;
}

.about-me {
    margin-bottom: 15px;
}

.about-me:hover + .circle .fade-in-image {
    opacity: 100%;
    transition: opacity 1s;
}

.circle .fade-in-image {
    opacity: 0%;
    transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
}

.selectors {
    font-size: large;
    margin: 0;
    font-family: "Papyrus";
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.me-p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-size: large;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;

}

.project {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.project h2 {
    color: #004d66;
    font-size: 1.8em;
}

.project p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.project button {
    background-color: #004d66;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project button:hover {
    background-color: #006699;
}

.welcome {
    font-size: x-large;
}

.skills-section h2 {
    color: #004d66;
    font-size: 2em;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 8px 0;
    line-height: 1.6;
}

.skills-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
}

.volunteering {
    list-style-type:disc;
}